<ion-view view-title="New Regional">
    <ion-content>
        <div class="list device">

            <label class="item item-input item-select">
                <div class="input-label">
                    Light
                </div>
                <select ng-model="my.device" ng-options="device.device_name for device in devices" ng-change="deviceChange(my.device)"></select>
            </label>

        </div>

        <div class="list" ng-repeat="channel in my.device_channel">
            <div class="item range range-positive">
                {{channel.channel_name}}:
                <!--<i class="icon ion-ios-sunny-outline"></i>-->
                <input type="range" name="volume" min="0" max="100" ng-model="channel.channel_value">{{channel.channel_value}}%
                <i class="icon ion-ios-sunny"></i>
            </div>
        </div>

        <div class="list">
            <button class="button button-block button-balanced" ng-click="apply()">Apply</button>
        </div>
    </ion-content>
</ion-view>

